.hn-join{
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-top: 50px;

}
.hn-join h2{
    text-shadow: 2px 2px 4px var( --bg-blue1);
    color: var(--bg-blue2);
}
.hn-oR{
    text-align: center;
    color: var( --bg-blue1);
    text-shadow: 6px 6px 6px var(--bg-blue2);
    font-weight: bold;
    font-size: 22px;
    font-style:italic;
}