.hn-input{
    flex-direction: column;
    display: flex;
    align-items:center;
  
}
.hn-field1,.hn-field2,.hn-field3,.hn-field4,.hn-field5{
    width: 400px;
        padding: 16px 10px 16px 10px;
          margin-top: 15px;
          border: 2px solid var( --bg-blue);
          border-radius: 10px;
}
.hn-field1:hover,.hn-field2:hover,.hn-field3:hover,.hn-field4:hover ,.hn-field5:hover,.hn-field6:hover,.hn-field7:hover{
    border: 2px solid var(  --bg-blue3);
     transform: scale(1.2);
    transform: translateY(-4px);
    transition: a11 0.3s ease;
     border-radius: 20px;
     box-shadow: 0 4px 10px var(--bg-blue1);
}