.hn-doctor1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.hn-doctor1 p{
    color: var(--bg-gray);
  
}

.hn-doctor1 h2{
        text-shadow: 2px 2px 4px var(--bg-color);
}
.hn-field7{
    width: 400px;
        padding: 16px 0 16px 0;
          margin-top: 15px;
          border: 2px solid var( --bg-blue);
          border-radius: 10px;
          color: var(--bg-gray);
        
}
.hn-doctor1 label{
    color: var(--bg-blue1);
    padding-top: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 2px var(--bg-gray);
}
.hn-link{
    text-decoration: none;
}

